{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
       "tsconfig.json"
      ]
    },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "node_modules/**/*"
  ],
  "rules": {}
}
